@charset "UTF-8";

/*---- 全体設定 ----*/
*,
*::before
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
}
.flex {
    display: flex;
}
body {
    border-top: 10px solid #730240;
}

/*---- navの設定----*/
.g__nav {
    display: flex;
    list-style-type: none;
    width: 860px;
    margin: 0 auto;
}
.g__nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
}
.g__nav ul li {
	display: table-cell;
    box-sizing: border-box;
    border-left: 1px solid #000;
}
.g__nav ul li:first-child{
    border-left: none;
}
.g__nav ul li a {
	display: block;
	padding: .4em .8em;
	text-decoration: none;
	color: #333;
	background: #fff;
    text-align: center;
    font-size: 2rem;
}
.g__nav ul li a:hover {
	background: #eee;
}

/*---- heroの設定 ----*/
.hero {
    display: block;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    overflow: hidden;
}
.gurasunikannpai {
    position:  absolute;
    background-color:  #541c74bd;
    border-radius: 2rem;
    color:  #fff;
    padding: 20px;
    width:  660px;
    height: 250px;
    text-align:  center;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;
}
.gurasunomidashi {
    font-size: 4.8rem;
    font-weight: normal;
    margin: 20px 0;
}
.gurasunomoji {
    font-size: 1.6rem;
    margin: 20px 0;
}

/*---- mainの設定 ----*/
.main__section {
    text-align: center;
    margin-top: 30px;
}
.main__section h3 {
    font-size: 4.8rem;
}
.main__section p {
    font-size: 1.6rem;
}
.main__service {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.main__icon {
    width: 260px;
}
.main__icon img{
    display: block;
    width: 160px;
    margin: 0 auto;
}
.main__icon figcaption {
    font-size: 1.6rem;
}
.main__icon p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}
.main__icon div {
    font-size: 1.6rem;
    color: #730240;
}
h4 {
    margin-top: 70px;
}
.winery__guide {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.winery__guide__space {
    width: 370px;
    overflow: auto;
}
.winery__guide__space figcaption {
    font-size: 1.6rem;
}
.winery__guide__space p {
    font-size: 2rem;
    color: #730240;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*---- sectionの設定 ----*/
.osusume__space {
    background-color: #f2f0d5;
}
.osusume {
    margin-top: 10px;
    justify-content: space-around;
}
h5 {
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
}

/*---- attachmentの設定 ----*/
.fixed-bg {
    min-height: 25vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bg01 {
    background-image: url(../img/DSC_2275-1.jpg);
}

/*---- mapの設定 ----*/
.overflow {
    overflow: hidden;
}

/*---- footerの設定 ----*/
footer {
    text-align: center;
    background-color: #e0db1e;
    font-size: 1.6rem;
    padding: 20px 20px;
}
footer div:nth-child(1) {
    padding-right: 50px;
}
footer div:nth-child(2) {
    border-right: 1px solid #000;
    padding-right: 20px;
}
footer div:nth-child(3) {
    padding-left: 20px;
}
.footer__logo {
    text-align: center;
}