@charset "utf-8";

/*-共通部分-*/
h2 {
  color: #7e6c6c;
  text-align: center;
  margin-bottom: 3.5rem;
}

h3 {
  /* color: #fff; */
  /* font-size: 2.5rem; */
  /* position: relative; */
  /* text-align: center; */
  /* margin-bottom: 1rem; */
}


.grad-btn,
.grad-trigger {
  display: none;
}

/*-top-image-*/

.top-image {
  background-image: url(../img/prof_top-bg.jpg);
}

.top-image h2 {
  position: absolute;
  top: 30%;
  right: 30%;
  font-size: 50px;
  color: #db444a;
  font-weight: 500;
  text-shadow: 1px 1px 3px #fff;
}

.top-image h2 span {
  top: 75%;
  right: 20%;
  font-size: 2rem;
  color: #db444a;
  font-weight: 500;
  width: max-content;
  text-shadow: 1px 1px 3px #fff;
  display: block;
}

/*-policy-*/
.policy {
  margin-bottom: 5rem;
  background-color: #fff5eb;
  padding: 4rem 0;
}

.policy h3 {
  text-align: left;
  color: #db444a;
  text-align: center;
  font-size: 2.5rem;
}

.policy p{
padding-left: 3rem;
}

.policy-paragraph h3::after {
  content: "キャリアフォーカスの思い";
  color: #db444a;
  font-size: 2rem;
  vertical-align: middle;
  margin-left: 3rem;
}

.policy-paragraph p {
  width: 60%;
  padding: 0 0 0 2rem;
}
.videobox{
  width: 40%;
overflow: hidden;
}

.policy-paragraph  video{
  width: 100%;
  
}
.policy-paragraph-in {
  margin-top: 2rem;
}

/*-prof-*/
.prof {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.prof-img {
  margin: auto 0;
  padding: 5%;
}

.prof h4 {
  color: #7e6c6c;
  font-size: 2rem;
  text-align: right;
}

.prof h5 {
  color: #eb9797;
  font-size: 2rem;
  padding: 1.8rem 0;
}

.prof-paragraph {
  width: 65%;
}

.prof-paragraph p {
  padding: 2rem 0;
  border-bottom: 1px solid #e57a7e;
  text-align: justify;
}

.prof-paragraph br {
  display: none;
}

.prof-paragraph h4 span {
  font-size: 3rem;
  ;
  padding-left: 1rem;
}

.prof-qualification ul {
  width: 50%;
  margin-left: 1rem;
}

.prof-qualification ul li {
  list-style: square;
  font-size: 1.2rem;
  margin: 0 1rem;
}

/*-works-*/

.works {
  background-color: #fff5eb;
  padding: 4rem 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.works-paragraph {
  padding: 0 7rem;
}

.works-paragraph p {
  font-size: 15px;
}

.works-paragraph h4 {
  color: #db444a;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #db444a;
}

.works-paragraph-left {
  width: 50%;
  padding: 1rem;
}

.works-paragraph-right {
  width: 50%;
  padding: 1rem;
}

.works-paragraph-bottom {
  padding: 1rem;
}

.works .thema-left li {
  color: #db444a;
}

.works .thema-left span,
.works .thema-right span {
  color: #000;
}

.works .thema-left,
.works .thema-right {
  width: 50%;
  margin-left: 2rem;
  padding: 1rem 0;
}

.works .thema-right li {
  color: #fac36e;
}
.ryakusyou{
  text-align: right;
  margin-bottom: 3.5rem;
}
/*-info-*/

.info {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.info-paragraph {
  padding: 4rem 0;
}

.info-left {
  width: 45%;
  position: relative;
}

.info-left img {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.info-right {
  width: 55%;
}

.info-right table {
  border-collapse: collapse;
  border: 1px solid #e57a7e;
}

.info-right th {
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.info-right table td {
  width: 80%;
}

.info-right table th,
.info-right table td {
  padding: 2.5rem 2.5rem;
}

.info-right .info-right1 th,
.info-right .info-right3 th {
  background-color: #e57a7e;
}

.info-right .info-right2 th,
.info-right .info-right4 th {
  background: #eb9797;
}

@media screen and (max-width: 1024px) {

  .works-paragraph-in {
    display: block;
  }
  .videobox{
    width: 90%;
   margin: 0 auto;
    overflow: hidden;
  }

  .works-paragraph-left {
    width: 100%;
  }

  .policy-paragraph-in {
    display: block;
  }

  .policy-paragraph video {
    width: 100%;
  }

  .policy-paragraph p {
    width: 100%;
    margin-top: 2rem;
  }


  .works-paragraph-left br {
    display: none;
  }

  .works-paragraph-right {
    width: 100%;
  }

}


@media screen and (max-width: 767px) {

  /*-top-image-*/
  .top-image {
    background-position: center;
  }

  /*-prof-*/

  .prof-content {
    flex-direction: column-reverse;
  }

  .prof-paragraph {
    width: 100%;
  }

  .prof-img {
    text-align: center;
  }

  .prof-img img {
    width: 50%;
  }

  /*-policy-*/

  .policy-paragraph p {
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    text-align: justify;
  }

  /*-works-*/

  .works-paragraph {
    padding: 0;
  }


  .works-paragraph-left {
    text-align: justify;
  }

  /*-info-*/

  .info-paragraph {
    flex-direction: column;
    padding: 0;
  }

  .info-left {
    width: 100%;
    position: static;
    text-align: center;
    margin-bottom: 4rem;
    height: 23rem;
    padding-top: 4rem;
  }

  .info-left img {
    max-width: 350px;
    position: static;
    transform: translateY(0%) translateX(0%);
  }

  .info-right {
    width: 100%
  }

  .info-right table {
    width: 100%;
  }

  .prof-img img {
    width: 60%;
  }

  .info-right table th,
  .info-right table td {
    padding: 2.5rem 3rem;
  }

  .works .thema-left li,
  .works .thema-right li {
    font-size: 1.2rem;
    list-style: square;
  }

  .grad-wrap {
    position: relative;
  }

  .grad-btn {
    z-index: 2;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 148px;
    margin: auto;
    padding: .5em 0;
    border-radius: 2px;
    background: #e57a7e;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    display: block;
  }

  .grad-item {
    position: relative;
    overflow: hidden;
    height: 12rem;
    /*隠した状態の高さ*/
  }

  .grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
    content: "";
  }

  .grad-trigger {
    display: none;
    /*チェックボックスは常に非表示*/
  }

  .grad-trigger:checked + .grad-btn {
    display: none;
    /*チェックされていたら、grad-btnを非表示にする*/
  }

  .grad-trigger:checked ~ .grad-item {
    height: auto;
    /*チェックされていたら、高さを戻す*/
  }

  .grad-trigger:checked ~ .grad-item::before {
    display: none;
    /*チェックされていたら、grad-itemのbeforeを非表示にする*/
  }

}

@media screen and (max-width: 480px) {

  /*-info-*/

  .info-right table th,
  .info-right table td {
    width: 100%;
    display: block;
    text-align: center;
  }
    
    .policy-paragraph p {
        margin-top: 1rem;
        padding: 0;
    }

  /*-policy-*/

  .policy-paragraph h3::after {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .prof h4 {
    font-size: 1.7rem;
    ;
  }

  .works-paragraph-in p,
  .works-paragraph-bottom p {
    text-align: justify;
  }

  .prof-paragraph br {
    display: block;
  }
  .videobox{
    width: 100%;
  }
  .works-paragraph-right br {
    display: none;
  }

  .works-paragraph-right p:first-child {
    padding-bottom: 1rem;
  }
}
